---
import IconCardProjetcs from "./icons/IconCardProjetcs.astro";
import IconCardButton from "./icons/IconCardButton.astro";

const PROJECTS = [
    {
        title: "Portafolio Developer",
        description:
            "Mi portafolio personal, construido con Astro y Tailwind CSS.",
        link: "https://zuninoaldo.github.io/portafolio-developer/",
        image: "/ProyectsImg/ProyectPortafolio.webp",
        tags: ["Astro", "Tailwind CSS", "JavaScript"],
    },
    {
        title: "Plataforma de Cursos en Línea",
        description:
            "Plataforma de cursos en línea con usuarios para estudiantes y profesores. Incluye funcionalidades de registro, inicio de sesión, creación de cursos y gestión de contenido.",
        link: "https://github.com/ZuninoAldo/proyecto-angular-final",
        image: "/ProyectsImg/ProyectAngular.webp",
        tags: ["Angular", "Node.js", "MongoDB"],
    },
    {
        title: "Backend de tienda E-commerce Completa con Docker",
        description:
            "Tienda en línea para productos tecnológicos, con carrito de compras, generación de tickets y pasarela de pago. Se incluye Docker para facilitar la implementación y despliegue del proyecto.",
        link: "https://github.com/ZuninoAldo/Backend-II-Zunino",
        image: "/ProyectsImg/ProyeckBackendII.webp",
        tags: ["Express Js", "Node.js", "MongoDB", "Docker"],
    },
    {
        title: "Backend de tienda E-commerce",
        description:
            "Tienda en línea para productos variados, con carrito de compras, generación de tickets y pasarela de pago.",
        link: "https://github.com/ZuninoAldo/Backend-Zunino",
        image: "/ProyectsImg/ProyectBackend.webp",
        tags: ["Express Js", "Node.js", "MongoDB"],
    },
    {
        title: "Plataforma de un Sanatorio Privado",
        description:
            "Página web completa de un sanatorio privado que incluye plataforma para gestión de pacientes, turnos y servicios médicos en un sanatorio privado, y formulario completo de contacto adptada tanto para escritorio, como para tablets y celulares.",
        link: "https://github.com/ZuninoAldo/sanatorio-lupe",
        image: "/ProyectsImg/ProyectSanatorioLUPE.webp",
        tags: ["HTML", "CSS", "Javascript", "Bootstrap"],
    },
];
---

<section class="max-w-6xl mx-auto p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
        {
            PROJECTS.map((project) => (
                <article class="flex justify-center group transition-all duration-300 hover:-translate-y-2">
                    <div class="block w-full">
                        <a href={project.link} class="block overflow-hidden rounded-lg">
                            <img
                                class="rounded-lg w-full transition-transform duration-500 group-hover:scale-110"
                                src={project.image}
                                alt={`Captura de pantalla del Proyecto ${project.title}`}
                            />
                        </a>
                        <div class="p-6 text-center">
                            <div class="flex justify-center flex-wrap gap-2 mb-4">
                                {project.tags.map((tag) => (
                                    <span class="inline-flex items-center bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded-sm">
                                        <IconCardProjetcs class="w-3 h-3 me-1" />
                                        {tag}
                                    </span>
                                ))}
                            </div>

                            <h5 class="mt-3 mb-6 text-2xl font-semibold tracking-tight text-white opacity-80">
                                {project.title}
                            </h5>

                            <p class="mb-6 text-body text-pretty">
                                {project.description}
                            </p>
                            <a
                                href={project.link}
                                class="inline-flex items-center text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-nonetransition-transform duration-300 hover:scale-105"
                            >
                                Ver Proyecto
                                <IconCardButton class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" />
                            </a>
                        </div>
                    </div>
                </article>
            ))
        }
    </div>
</section>
